@tailwind base;
@tailwind components;
@tailwind utilities;


.leaflet-bottom,
.leaflet-control,
.leaflet-pane,
.leaflet-top{
  z-index: 0 !important;
}

/* :root {
 
}

l
@media (prefers-color-scheme: dark) {
  :root {
   
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */
